<div class="topbutton">
    <a href="#head"><img src="./assets/img/arrow.png"></a>
</div>
<div class="footercontainer">
    <div class="footercontent">
        <div class="myAccount height250 d-flex">
            <h1>MY ACCOUNT</h1>
            <p>My account</p>
            <p>Checkout</p>
            <p>Contact Us</p>
            <p>Shopping Card</p>
            <p>Wishlist</p>
        </div>
        <div class="quickLinks height250 d-flex">
            <h1>QUICK LINKS</h1>
            <p>Store Location</p>
            <p>Orders Tracking</p>
            <p>Size Guide</p>
            <p>My account</p>
            <p>FAQs</p>
        </div>
        <div class="information height250 d-flex">
            <h1>INFORMATION</h1>
            <p>Privacy Page</p>
            <p>About us</p>
            <p>Careers</p>
            <p>Delivery information</p>
            <p>Term & Conditions</p>
        </div>
        <div class="customerService height250 d-flex">
            <h1>CUSTOMER SERVICE</h1>
            <p>Shipping Policy</p>
            <p>Help & Contact Us</p>
            <p>Return & Refunds</p>
            <p>Online Stores</p>
            <p>Term and Conditions</p>
        </div>
        <div class="buttonandpearl height250 d-flex">
            <h1>BUTTON & PEARL</h1>
            <p>Connect With Us:</p>
            <div class="socialMedia">
                <a href="https://www.facebook.com/" target="_blank"><img src="./assets/img/facebook.png"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="./assets/img/instagram.png"></a>
            </div>
        </div>

    </div>
    <div class="copyright">
        <p>&#9400; 2023 Jennifer Kerner - All Rights Reserved</p>
    </div>
</div>