<div class="contact-container" id="contact">
    <div class="contact-description">
        <h3>Möchten Sie bestellen?</h3>
        <div>
            <p class="description1">Kontaktieren Sie mich!</p>
        </div>
    </div>
    <form class="input-container" (submit)="sendMail()" #myForm ngNativeValidate>
        <div class="inputText">
            <input required type="text" placeholder="Ihr Name..." name="name" #nameField>
        </div>
        <div class="inputEmail">
            <input required type="email" placeholder="Ihre Email..." name="email" #emailField pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        </div>
        <div class="inputMessage">
            <textarea required cols="30" rows="10" placeholder="Ihre Nachricht..." name="message" #messageField></textarea>
        </div>
        <button type="submit" (click)="sendAnimation()" #sendButton [class.d-none]="sendetMail" [class.d-block]="!sendetMail">Senden</button>
        <div class="container" [class.d-none]="!sendetMail" [class.d-block]="sendetMail">
            <div class="box">
                <div class="border one"></div>
                <div class="border two"></div>
                <div class="border three"></div>
                <div class="border four"></div>

                <div class="line one"></div>
                <div class="line two"></div>
                <div class="line three"></div>
            </div>
        </div>
    </form>
</div>

<!-- Animated submit buttons -->