<div class="secondcontentarea" id="products">
    <div class="headline">
        <h1>New Items</h1>
    </div>
    <div class="cards">
        <div class="cardcontent" *ngFor="let item of items" (click)="openShoppingCard()">
            <img src="{{ item.image }}">
            <h2>{{ item.description }}</h2>
            <h3>{{ item.price }},- €</h3>
            <div class="addToBasket" (click)="addToBasket()">
                <button>Add to basket</button>
            </div>
        </div>
    </div>
</div>