@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'LeckerliOne';
    src: url('./assets/fonts/LeckerliOne-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

// body::-webkit-scrollbar {
//     width: 10px;
// }
// body::-webkit-scrollbar-thumb {
//     background-color: #4845F3;
// }
// body::-webkit-scrollbar-track {
//     background-color: #141D2F;
// }
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #C7CBD4;
}

body::-webkit-scrollbar-track {
    background-color: #B67796;
}